.categories ul{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}
.categories li{
    background-color:rgb(216, 210, 210);
    padding: 7px 10px;
    border-radius: 18px;
}
.categories a{
    text-decoration: none;
    color: black;
    font-size: 18px
}