.navbar{
    display:flex;
    align-items: center;
    justify-content:space-between ;
    padding: 0px,35px;
  
}
.SearchBar input{
width: 700px;
height:40px;
border-radius: 100px;
border: 1px solid rgb(80, 255, 130);
font-size: 18px;
padding-left: 20px;
}
.SearchBar input.focus{
    outline: none;
border: 1px,solid,light
}
.UserOption{
    width:200px;
display: flex;
justify-content: space-evenly;
align-items: center;

}
.UserOption h4{
    background-color:rgb(235, 96, 96);
    color: rgb(3, 11, 15);
    font-size: 20px;
    padding: 10px,18px;
    border-radius: 100%;
}